.active {
  color: #6e59a4 !important;
  border-bottom: 1px solid #6e59a4 !important;
}
.cursorPointer {
  cursor: pointer !important;
  padding-bottom: 15px !important;
  border-bottom: 1px solid transparent;
}
